html {
  font-size: 14px;
  font-family: Monaco, sans-serif;

}

@media (min-width: 768px) {
  html {
    font-size: 15px;
    font-family: Monaco, sans-serif;

  }
}

html {
  position: relative;
  min-height: 100%;
  font-family: Monaco, sans-serif;

}

head {
  padding-top: 200px;
  font-family: Monaco, sans-serif;
  font-weight: bold;
  background-color: #0077cc;
  text-align-all: center;
}

body {
  font-family: Monaco, sans-serif;
  background-color: #b6d4fe;
  
}

footer {
  font-family: Monaco, sans-serif;
  background-color: #ffffff;
  align-content: center;

}
