@model VeterinaryClinic.BL.Procedure

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Procedimentos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a lista</a>
</div>
