@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Veterinária 1.0</h1>
    <p>Acesso o google e pesquise sobre <a href="https://google.com">nosso sistema!</a>.</p>
</div>
