@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro Inesperado</h1>
<h2 class="text-danger">Ocorreu um erro inesperado, por favor aguarde até ser resolvido.</h2>


